.booking-confirmation-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  p{
    text-decoration: none;
    color: #ff7300;
    font-weight: bold;
  }
  h2{
    color: #007bff;
  }